@import url('https://fonts.googleapis.com/css?family=Monserrat:400,700');

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    color: #6EB7C2;
    font-weight: 900;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #5d5c61;
    text-align: center;
    padding: 10px;
}

@keyframes backAnimation {
    0% {
        background-color: #ECF8FB;
    }

    50% {
        background-color: #EFEFEF;
    }

    100% {
        background-color: #ECF8FB;
    }
}

body {
    -webkit-animation: backAnimation 10s infinite;
    -moz-animation: backAnimation 10s infinite;
    -o-animation: backAnimation 10s infinite;
    animation: backAnimation 10s infinite;
    background: url('../IMG/bg.png');
    background-color: #ECF8FB;
}

.bolder {
    font-weight: 700;
}

.logo img {
    max-width: 150px;
    filter: blur(.6px);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.formContainer {
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    padding: 0 !important;
}

.formContainer form {
    padding: 30px 65px 65px;
}

.titleForm {
    background-color: #545253;
    padding: 20px;
    text-align: center;
}

.titleForm h1 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto 15px;
    width: 53%;
}

.form-row {
    margin-bottom: 24px;
}

.form-row--phone {
    margin-top: 35px;
}

.contestForm:has(.errorField) .btn {
    opacity: .5;
    cursor: not-allowed;
}

.errorMsg {
    display: none;
    text-align: center;
    margin: 10px 0 0;
    font-size: 14px;
    color: #D50303;
    position: absolute;
    margin: 15px auto 0;
    left: 0;
    right: 0;
}

input.form-control {
    font-size: 16px;
    padding: 22px;
    color: #757375 !important;
}

input.form-control.errorField {
    border: 1px solid #D50303;
}

.formContainer form .btn {
    background-color: #f6a91d;
    color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
    display: block;
    padding: 10px;
    letter-spacing: 2px;
    transition: all 200ms ease;
    font-weight: 700;
}

.formContainer form .btn:hover {
    background-color: #c07417;
}

.formContainer form .btn:active {
    transform: translateY(3px);
}

.formContainer form .btn:focus {
    box-shadow: none;
}

.formContainer form .btn.submitted {
    background-color: #A0BC57 !important;
}

.formContainer form .btn.submitted:active {
    transform: none;
}

.moreContainer {
    font-size: 14px;
    padding: 20px;
}

.row-fluid:last-of-type {
    margin-left: -5px;
}

body:has(h1) .moreContainer {
    border: 2px solid #A0BC57;
    border-top: 0;
}

.titleContainer {
    overflow: hidden;
}

.titleContainer h3 {
    font-size: 15px;
    text-align: center;
}

.titleContainer h3:before,
.titleContainer h3:after {
    background-color: #A0BC57;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.titleContainer h3:before {
    right: 50px;
    margin-left: -50%;
}

.titleContainer h3:after {
    left: 50px;
    margin-right: -50%;
}

.titleAdjust {
    position: relative;
    top: 7px;
}

.moreContainer h4 {
    color: #A0BC57;
    font-size: 12px;
}

.whiteBackground {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

.subtitle {
    font-size: 20px;
}

@media (max-width:991px) {
    .formContainer {
        width: 370px;
    }
}

@media (max-width:767px) {
    header {
        padding: 10px;
    }

    .logo img {
        max-width: 120px;
    }

    .titleContainer h3:before {
        right: 10px;
    }

    .titleContainer h3:after {
        left: 10px;
    }

    .container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .titleForm h1 {
        width: 100%;
    }

    .formContainer form .btn {
        width: 100%;
    }

    .formContainer {
        width: 370px;
    }

    .formContainer form {
        padding: 25px;
    }

    input.form-control {
        padding: 22px 12px;
    }
}